:root {
    --col-bl: #2F80ED;
    --col-ye: #FCEFCA;
    --col-wh: #FFFFFF;

    --col-blk-3: #333333;

    --col-gr-1: #F2F2F2;
    --col-gr-2: #4F4F4F;

    --col-logo: #1B1F2D;
    --col-titulos: #181818;
}